h1{
  text-align:center;
}
img{
  width:470px;
}
ul li{
  margin:15px;
  display: inline-block;
  float:left;
}
.pleasework{
  width:1000px;
  margin:10px;
  float:left;
}
#create{
  height:46px;
  margin:10px;
}
.row{
  clear:both;
}
